<header>
    <div class="header-content">
        <div class="logo"></div>
        <h1 class="hero">FIND BEST EVENTS
            AROUND THE WORLD</h1>
    <div class="search">
        <span class="input">
            <input type="text" class="input_search" placeholder="Start searching">
            <button><img src="../images/search-icon.png" alt=""></button>
        </span>
        <span class="input">
             <input type="text" class="input_search" placeholder="Choose country">
            <button><img src="../images/Polygon.png" alt=""></button>
        </span>
       
    </div>
</div>
</header>